<div class="container text-center my-auto">

  <h4 class="m-5 pt-5">
    <strong>本当に退会しますか？</strong>
  </h4>

  <h4 class="m-4">
    退会すると、会員登録画面や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </h4>
  <row>
    <div class="d-flex justify-content-center">
      <div class="col-2">
        <%= link_to "退会しない", customers_path, class:'btn btn-primary px-3 w-100' %>
      </div>

      <div class="col-2">
        <%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: 'btn btn-danger px-3 w-100' %>
      </div>
    </div>
  </row>
</div>