<div class="container">

  <!--title-->
  <p class="display-3 font-weight-bold text-center m-4">About</p>

  <!--introduction-->
  <p class="h4 text-center">
    ながのＣＡＫＥは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </p>

  <!--picture-->
  <div class="text-center m-5">
    <%= image_tag 'cakes.jpg', size: '800x600' %>
  </div>



</div>