<div class="container d-flex">

    <!--genre search-->
    <div class=" genre_search col-lg-3">

      <table>
        <tr>
          <th>ジャンル検索</th>
        </tr>

        <!--genre_link-->


      </table>

    </div>

    <div class="col-lg-9">

      <row>
        <div class="jumbotron">
          <div class="container">
            <h4>
              ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </h4>
          </div>
        </div>
      </row>

      <row>
        <div class="d-flex new-items">

          <div class="item">
            <div>picture</div>
            <div>name</div>
            <div>price</div>
          </div>

          <div class="item">
            <div>picture</div>
            <div>name</div>
            <div>price</div>
          </div>

          <div class="item">
            <div>picture</div>
            <div>name</div>
            <div>price</div>
          </div>

          <div class="item">
            <div>picture</div>
            <div>name</div>
            <div>price</div>
          </div>
        </div>
      </row>

      <row>
        <%= link_to items_path do %>
          <p class="text-right">全ての商品を見る ＞</p>
        <% end %>
      </row>

    </div>

</div>