<div class="container d-flex">

  <%= render 'genre_search' %>

  <div class="col-9">

    <div class="d-flex">
      <h2>商品一覧</h2>
      <h5>(全 <%= Item.all.count %> 件)</h5>
    </div>
    
    <%= render 'items', items: @items %>
    
  </div>

</div>