<div class="container d-flex">

  <%= render 'genre_search' %>

  <div class="col-9">

    <div class="d-flex align-items-end m-2">
      <h2>
        <strong>商品一覧</strong>
      </h2>
      <h4>（全 <%= Item.all.count %> 件）</h4>
    </div>

    <%= render 'items', items: @items %>

    <div>
      <%= paginate @items, theme: 'bootstrap-5' %>
    </div>

  </div>

</div>